[push]
	default = current
[user]
	name = mahboob
	email = mahboobmonnamd@gmail.com
[diff]
	algorithm = patience
	colorMoved = default
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
	line-number = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[color]
	ui = true
